

/* foto logo Trevo*/
nav a img {

text-align: left;
width: 160px;
height: auto;
}

/* ajuste icones rede facebook, instagram e twitter*/
#redes a img{
  text-align: left;
  width: 45px;
  height: auto;
}

/* Bordas barra de navegação*/
#barranavegacao nav {
  border-radius: 10px 10px 0px  0px;
  padding: 4px

}


/* Texto barra de navegação */
#barranavegacao ul li a  {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  text-align: center;
  font-size: 20px;
  width: 100pt;
  text-shadow: 2px 0px 0px  white;
}


/* carousel */
#carousel {
  margin: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 18px  0px #28a745;
  
}


#linhahorizontal {

  border: 0px;
  border-top: 40px solid #4caf50;
  
}

h1 p {
font-size: 16pt;
color: #4caf50;
text-align: center;
padding-bottom: 30px ;
}

#texto {
  text-align: justify;
  margin: 40px;
  font-size: 20px;
  color: #4caf50;
  font-style: oblique;

}

/* texto carousel2 */
#carousel2 div p {
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  text-align: center;
  font-size: 25px;
  margin-top: 100px;
  text-shadow: 2px 2px 2px  rgb(140, 120, 83);
}


#hr2 hr {

  border: 0px;
  border-top: 1px solid #4caf50;
  
}

footer {
  background-color: #28a745;
  text-align: center;
  color:White;
  font-family: "Anton";
  padding-top: 20px;
  font-weight: bold;
}
/* Altera os links redes sociais para o centro */
div ul li {
  display: inline-block;
}

/* card contendo a foto  das cápsulas */
#card {
  margin: 5px 5px 5px 5px;
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px 1px 1px#dcedc8;

}

/* ajuste das dimensões das cápsulas no card */
#card img {
  width: 150px;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 10px;
 
}


#promocao {
  text-decoration: line-through;
  color: red;
}

.galeria img:hover {
     -webkit-transform: scale(1.5);
    transform: scale(1.5);
 
}


/* alinhamento produtos */
#itens {

  text-align: center;

}

#formulario{
text-align: left; 

}


#mapa {
text-align: center;
}
