
/*dimensões logo trevo */
/* icone na navbar */
body nav a img {
  width: 350px;
  height: auto;
  margin-right: 100px;
  margin-top: 5px;
  
}



/* nav bar  home,Produtos,promoções e lojas */
body .nav-item {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  /*box-shadow: 0px 1px 10px 10px#dcedc8;*/
  /*margin-left: 100px;*/
}

body .nav-link {
  color: #4caf50;
  padding: 0px;
  
}



/* carousel */
#carousel {
  margin: auto;
  height: auto;
  width: 100%;
  padding: 0px;
  box-shadow: 0px 1px 10px 10px#dcedc8;

}

/* O conteúdo do texto está localizado a baixo do carousel*/

#texto {
  text-align: justify;
  margin: 40px;
  
}


#carousel2 {
  /* font-family: "Libre Baskerville"; */

  text-align: center;
  font-size: 30px;
  

}


/* card contendo a foto  das cápsulas */
#card {
  margin: 50px 10px 10px 50px;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 10px 10px 10px#dcedc8;

}

/* ajuste das dimensões das cápsulas no card */
#card img {
  width: 200px;
  height: 150px;
  
}





